
html{
  font-size: 100%;
  
}

ul{
  list-style: none;
}
a.class1,
a.class1:visited,
a.class1:active
a.class1:hover {
  color:#DCEDC8;
}

a.class2,
a.class2:visited,
a.class2:active
a.class2:hover {
  color:  #49A2D5;
}

header{
  padding-top: 50px;
  padding-bottom:50px;
  text-align: center;
  background-color: white;
  margin-left: -40px;
  margin-right: -50px;
}

.name{
    color: #333333;
    font-family: monserrat;
    font-weight: bold;
}   

.surname{
  color: #49A2D5;
}

#container__left{
  color:white;
  background-color:  #49A2D5;
  width: auto;
  font-family: 'monserrat', sans-serif;
}
.container__left-titles{
  border:1px solid #333333;
  background-color: #333333; ;
  text-align: center;
  padding: 0.5rem ;

}
#container__left-image{
  size: auto;
  text-align: center;
  padding-bottom: 60px;
}

#container__left-github{
  text-align: center;
}

#container__left-contact, #container__left-langues,
#container__left-interet, #container__left-apropos {
  width: 100%;
  height: auto; 
}

.ul-left-align{
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

#container__right{
  background-color: white;
  font-family: 'monserrat', sans-serif;
  width: auto;
  padding-left: 40px;
  padding-bottom: 150px;
  padding-right: 50px;
}

#container__right-formation{
  margin-top: 35px;
}

#container__right-portofolio{
  margin-top: 35px
}

#photo{
  border-radius:50%;
  height:10rem;
  width: 10rem;
  border: 2px solid #333333;
}

.hr-black { 
  display: block;
  border-top: 3px solid #49A2D5;
  max-width: 95%;
  margin-left: 0px;
}

#projects-box{
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}
a.image {
  background-image: url(https://i.ibb.co/pzPxNHV/ohmyfood.jpg) ; 
  width:14vw; /*width of your image*/
  height:6vw; /*height of your image*/
  border : 1px solid black;
  background-size: 100% 100%;
}
a.image2 {
  content: url(https://i.ibb.co/QMQ24Rg/minimo.png); 
  width:14vw; /*width of your image*/
  height:6vw; /*height of your image*/
  border : 1px solid black;
}

.p-apropos{
  width: 100%;
  text-align: justify;
}

.fas_fa-at {
  color: white
}

i::after{
  font-weight: bold;
  content : "\a0\a0";
}
@media (min-width:200px)  { /*smartphones*/
  #container{
    margin:  auto;
    width: 100%;
  }
 .font-size > h1 {
    font-size: 1.2vw;
  }

  .font-size > h2 {
    font-size: 4vw;
  }

  .font-size > h3 {
    font-size: 3.2vw; 
    font-weight: bold;
  }

  .font-size > h4 {
    font-size: 3vw; 
  }

  .font-size-sm {
    font-size: 2.7vw;
    list-style: outside;
    text-align: justify;
  }

  .container__left__li-fontsize{
    font-size: 3vw;
    text-align: left;
    width: 50%;
    margin: 0 auto;
  }
 
  .p-apropos {
    font-size: 3vw;
    width: 70%;
    margin: 0 auto; 
  }

  .container__left-titles{
    font-size: 3.5vw;
  }

  .name{
    font-size: 7vw;
  } 

  .cv-title{
    color: #333333;
    font: monserrat;
    font-size: 4vw;
  }

  #photo{
    margin-top: 40px;
    border-radius:50%;
    height:10rem;
    width: 10rem;
  }

  #container__left-github{
    padding-bottom: 25px;
    padding-top: 25px;
  }

  a.image {
      width:10rem; /*width of your image*/
      height:4rem; /*height of your image*/
      padding: 1em;
  }
  a.image2 {
      width:10rem; /*width of your image*/
      height:4rem; /*height of your image*/
      padding: 1em;
  }
}

@media ( min-width : 768px ) { /*tablets*/
  #container__left{
    width: 35%;
  }

  
  .font-size > h1{
    font-size: 1.2vw ;
  }

  .font-size > h2{
    font-size: 2.3vw ;
  }

  .font-size > h3{
    font-size: 1.9vw; 
    font-weight: bold;
  }

  .font-size > h4{
    font-size: 1.7vw 
  }
 
  .font-size-sm{
    font-size: 1.5vw ;
  }

  .container__left__li-fontsize{
    font-size: 1.5vw ;
    text-align: left;
    width: 100%;
  }

  .container__left-titles{
    font-size: 1rem ;
  }

  .name{
    font-size: 4vw;
  }   
  .cv-title{
    color: #333333;
    font: monserrat;
    font-size: 2.4vw;
  }

  .p-apropos{
    font-size: 1.5vw;
    width: 80%;
    margin: 0 auto;
  }
  #container{
    margin:  auto;
    max-width: 100%;
    display:flex;
    justify-content: center;
  }

  #photo{
    border-radius:50%;
    height:auto;
    width: 13vw;
  }

  header{
    padding-top: 80px;
    padding-bottom: 70px;
  }
}
  

@media ( min-width : 992px ) { /*desktops*/
  
  header {
    padding-top: 5vw;
    padding-bottom: 5.5vw;
  }

  .font-size > h1 {
    font-size: 1.6vw ;

  }

  .font-size > h2 {
    font-size: 1.4vw ;
    
  }

  .font-size > h3 {
    font-size: 1.3vw; 
    font-weight: bold;
    margin-bottom: -0.5em; /* MAAAAAAAARGGGGIIIIIIINNNNNNNNNS*/
  }

  .font-size > h4 {
    font-size: 1.2vw; 
    margin-bottom: -0.5em;
  }

  .font-size-sm{
    font-size: 1vw ;
  }

  .name{
    font-size: 4vw;
  }   
  .cv-title{
    color: #333333;
    font: monserrat;
    font-size: 2.5vw;
  }
  .container__left__li-fontsize{
    font-size: 1.2vw;
    text-align: left;
    width: 100%;
  }

  .p-apropos{
    font-size: 1vw;
  }
  .container__left-titles{
    font-size: 1.4vw ;    
  }
  #container{
    display:flex;
    margin:  auto;
    max-width: 100%;
    justify-content: center;
   
  }
  #photo{
    border-radius:50%;
    height: auto;
    width: 13vw;
  } 
  
  #container__left{
    width: 23%;
  }

  #container__left-image{
    margin-top: 50px;
  }

  #container__left-contact{
    margin-top: 5vw;
  }

   #container__left-github{
    margin-top: 100px;
  }

  a.image {
    width:15vw; /*width of your image*/
    height:6vw; /*height of your image*/    
  }
  a.image2 {
    content: url(https://i.ibb.co/QMQ24Rg/minimo.png); 
    width:15vw; /*width of your image*/
    height:6vw; /*height of your image*/ 
  }

}

