
/********************
GENERAL
*/

html{
  font-size: 100%;
}

ul{
  list-style: none;
}
a.class1,
a.class1:visited,
a.class1:active
a.class1:hover {
  color:#DCEDC8;
}

a.class2,
a.class2:visited,
a.class2:active
a.class2:hover {
  color:  #49A2D5;
}

header{
  padding-top: 50px;
  padding-bottom:50px;
  text-align: center;
  background-color: rgb(254,254,254);
  width: 100%;
  margin: auto;
}

.grid__experience{
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 30% 70% ;
}

.grid__formation{
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 30% 70% ;
}

/********************
CONTAINERS
*/
#container{
    width: 100%;
    margin: auto;

}
#container__left{
  color:white;
  background-color:  #49A2D5;
  width: 100%;
  font-family: 'monserrat', sans-serif;
  margin: auto;
  overflow:hidden;
}

#container__right{
  background-color:rgb(254,254,254);
  font-family: 'monserrat', sans-serif;
  width: 90%;
  padding-bottom: 150px;
  color: rgb(74,74,74);
  margin:auto;
}

.container__left-titles{
  border:1px solid #333333;
  background-color: #333333; ;
  text-align: center;
  padding-top: 0.5rem ;
  padding-bottom: 0.5rem;

}
#container__left-image{
  size: auto;
  text-align: center;
  padding-bottom: 60px;
}

#container__left-github{
  text-align: center;
}

#container__left-contact, #container__left-langues,
#container__left-interet, #container__left-apropos {
  width: 100%;
  height: auto; 
}

#container__right-portofolio{
  margin-top: 35px;
}

/********************
PORTOFOLIO
*/

#projects-box{
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

a.image {
  background-image: url(https://i.ibb.co/pzPxNHV/ohmyfood.jpg) ; 
  border : 1px solid black;
  background-size: 100% 100%;
}

a.image2 {
  content: url(https://i.ibb.co/QMQ24Rg/minimo.png); 
  border : 1px solid black;
}

/********************
MISCALEANOUS
*/

.fas_fa-at {
  color: white
}

h3 > i{
  color: #333333;
}

h4> i{
  color: #333333;
}

i::after{
  font-weight: bold;
  content : "\a0\a0";
}

.surname{
  color: #49A2D5;
}

.ul-left-align{
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.p-apropos {
  font-size: 3vw;
  width: 70%;
  margin: 0 auto; 
  text-align: justify;
}

#photo{
    margin-top: 40px;
    border-radius:50%;
    height:10rem;
    width: 10rem;
    border: 2px solid #333333;
}

.hr-black { 
  display: block;
  border-top: 3px solid #49A2D5;
  max-width: 100%;
  margin: auto;
}

/********************
FONT SIZES
*/

.container__right__dates-font-size{
  font-size: 2.6vw; 
  margin-top: 15px;
  color: #49A2D5;
  line-height: 0.5px;
}

.container__right__title-fontsize{
  font-size: 3.2vw; 
  margin-left: 25px;
}

.container__right__li-font-size {
    font-size: 3vw;
    list-style: outside;
    text-align: justify;
}

.container__left__li-fontsize{
    font-size: 3vw;
}

.container__left-titles{
    font-size: 3.5vw;
}

.name{
    font-size: 7vw;
    color: #333333;
    font-family: monserrat;
    font-weight: bold;
} 

.cv-title{
    color: #333333;
    font: monserrat;
    font-size: 4vw;
}

p{
  margin-left: 25px;
  text-align: justify;
}

/********************
SMARTPHONES
*/

@media (min-width:200px)  { 
  .container__left__li-fontsize{
    text-align: left;
    width: 50%;
    margin: 0 auto;
  }

  #container__left-github{
    padding-bottom: 25px;
    padding-top: 25px;
  }

  a.image {
      width:10rem; 
      height:4rem; 
      padding: 1em;
  }

  a.image2 {
      width:10rem; 
      height:4rem; 
      padding: 1em;
  }
}

/********************
TABLETS
*/

@media ( min-width : 768px ) { 
 
  #container{
    margin:  auto;
    max-width: 100%;
    height: auto;
    display:flex;
    justify-content: center;
  }

  #container__left{
    width: 35%;
    margin: 0;
  }

  #container__right{
    width: 80%;
    margin-left: 25px;
    margin-right: 25px;
  }
  .container__right__dates-font-size{
    font-size: 1.6vw; 
  }

  h3.container__right__dates-font-size {
    margin-top: 25px;
  }
  
  .container__right__title-fontsize{
    font-size: 2.2vw; 
  }
 
  .container__right__li-font-size {
    font-size: 1.8vw;
  }

  .container__right__parcours-fontsize{
    font-size: 2.6vw;
  }

  .container__left__li-fontsize{
    font-size: 1.8vw ;
    text-align: left;
    width: 100%;
  }

  .container__left-titles{
    font-size: 2vw ;
  }

  .name{
    font-size: 4.5vw;
  }   

  .cv-title{
    font-size: 3vw;
  }

  .p-apropos{
    font-size: 1.6vw;
    width: 80%;
  }
 
  header{
    padding-top: 80px;
    padding-bottom: 70px;
  }

  #photo{
    margin-top: 40px;
    border-radius:50%;
    height:auto;
    width: 18vw;
    border: 2px solid #333333;
    margin-bottom: 25px;
  }
}
  
/********************
DESKTOPS
*/

@media ( min-width : 992px ) { 
  
  header {
    padding-top: 100px;
    margin-bottom: 40px;
  }

  .grid__experience, .grid__formation{
    grid-template-columns: 40% 60% ;
  }

  #container{
    display:flex;
    margin: auto;
    width: 70%;
    justify-content: center;
  }

  #container__left{
    width: 35%;
  }

  .container__right__dates-font-size{
    font-size: 1vw; 
  }

  .container__right__title-fontsize{
    font-size: 1.2vw; 
    
  }
  
  .container__right__li-font-size {
    font-size: 1vw;
    margin-right: 25px;
  }

  .container__right__parcours-fontsize{
    font-size: 1.8vw;
  }

  .container__left__li-fontsize{
    font-size: 1vw;
    text-align: left;
    width: 100%;
  }

   .container__left-titles{
    font-size: 1.3vw ;
  }

  .name{
    font-size: 3.5vw;
  } 

  .cv-title{
    font-size: 2.2vw;
  }

  .p-apropos{
    font-size: 0.9vw;
    margin-left: 25px;
  }
  
  #photo{
    border-radius:50%;
    height: auto;
    width: 11vw;
    height: auto;
    margin-top: 50px;
  } 
  
  #container__left-contact{
    margin-top: 100px;
  }

   #container__left-github{
    margin-top: 100px;
  }

  a.image {
    width:14vw; 
    height:5vw;    
  }
  
  a.image2 {
    content: url(https://i.ibb.co/QMQ24Rg/minimo.png); 
    width:14vw; 
    height:5vw; 
  }

}
